body{
    box-sizing: border-box;
    margin:auto;
    background-color:skyblue;
    padding: 5%;
}
h1{
    color:slateblue;
    font-size:50px;
}
h2{
    color:crimson;
    font-size:40px;
}
p{
    color:darkblue;
    font-size:25px;
}
.block{
    width:800px;
    background-color: darkorchid;
    padding:5px;
    border:2px solid red;
}
.last{
    float:left;
    background-color: darkviolet;
    margin-top:400%;
    border:2px solid darkred;
}