<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>liff測試</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            <label>姓名</label>
            <input type="text" id="name" class="form-control" />
            <br />
            <label>日期</label>
            <input type="date" id="datetime" value="" class="form-control" />
            <br />
            <label>飲料數量</label>
            <input type="number" id="amount" class="form-control" />
            <br />
            <label>品項</label>
            <select id="drink" class="form-control">
                <option selected>茉莉綠茶</option>
                <option>珍珠紅茶</option>
                <option>紅茶拿鐵</option>
                <option>四季春茶</option>
                <option>冬瓜檸檬</option>
            </select>
            <br />
            <label>加料</label>
            <select id="extra" class="form-control">
                <option selected>無</option>
                <option>白玉珍珠</option>
                <option>椰果</option>
                <option>仙草</option>
                <option>小芋園</option>
            </select>
            <br />
            <button class="btn btn-warning btn-block" id="sure">確定</button>
        </div>
    </div>
</body>
<script>
	function pushMsg(pname, pdatatime, pamount, pdrink, pextra) {
		if (pname == '' || pdatatime == '' || pamount == '' || pdrink ==' ' || pextra == ' ') {  //資料檢查
			alert('每個項目都必須輸入！');
			return;
		}
		var msg = "###";  //回傳訊息字串
		msg = msg + pname + "/";
        msg = msg + pdatatime + "/";
		msg = msg + pamount + "/";
		msg = msg + pdrink + "/";
		msg = msg + pextra;
        alert(msg);
		liff.sendMessages([  //推播訊息
			{ type: 'text',
			  text: msg
			}
		])
			.then(() => {
                alert("send success");
				liff.closeWindow();  //關閉視窗
			});
	}

	liffId="1657681037-2zmOZl30";
	liff.init({liffId
    }).then(function() {
    console.log('LIFF init');
    }).catch(function(error) {
    console.log(error);
    }); //liff.init

    liff.getProfile()
    .then((profile) => {
    const Userid = profile.userId;
    console.log(Userid);
    }).catch((err) => {
    console.log("error", err);
    });

		
		$('#sure').click(function (e) {  //按下確定鈕
			pushMsg($('#name').val(), $('#datetime').val(), $('#amount').val(), $('#drink').val(), $('#extra').val());
		});
</script>
</html>

